---
interface Props {
  title: string;
  color?: string;
  className?: string;
  href?: string;
  target?: string;
}
const { title, color, className, href = "#", target }: Props = Astro.props;
---

{
  color === "primary-blue" ? (
    <a
      href={href}
      target={target}
      class={`button flex items-center justify-center gap-2 bg-primary-blue w-fit h-fit px-6 py-2 rounded-md cursor-pointer ${className ?? ""}`}
    >
      <slot name="preffix" />
      <p class="text-white font-semibold text-lg">{title}</p>
      <slot />
    </a>
  ) : color === "yellow" ? (
    <a
      href={href}
      target={target}
      class={`button flex items-center justify-center gap-2 bg-yellow-400 w-fit h-fit px-6 py-2 rounded-md cursor-pointer ${className ?? ""}`}
    >
      <slot name="preffix" />
      <p class="text-black font-semibold text-lg">{title}</p>
      <slot />
    </a>
  ) : (
    <a
      href={href}
      target={target}
      class={`button flex items-center justify-center gap-2 bg-primary-orange w-fit h-fit px-6 py-2 rounded-md cursor-pointer ${className ?? ""}`}
    >
      <slot name="preffix" />
      <p class="text-white font-semibold text-lg">{title}</p>
      <slot />
    </a>
  )
}
