---
interface Props {
  title: string;
  color?: string;
  className?: string;
  href?: string;
}
const { title, color, className, href = "#" }: Props = Astro.props;
---

{
  color === "primary-orange" ? (
    <a
      href={href}
      class={`button flex items-center border-primary-orange border-2 w-fit h-fit px-6 py-2 rounded-md cursor-pointer text-center gap-2 ${className || ""}`}
    >
      <p class="text-primary-orange font-semibold text-lg w-max">{title}</p>
      <slot />
    </a>
  ) : color === "primary-blue" ? (
    <a
      href={href}
      class={`button flex items-center border-primary-blue border-2 w-fit h-fit px-6 py-2 rounded-md cursor-pointer text-center gap-2 ${className || ""}`}
    >
      <p class="text-primary-blue font-semibold text-lg w-max">{title}</p>
      <slot />
    </a>
  ) : (
    <a
      href={href}
      class={`button flex items-center border-white border-2 w-fit h-fit px-6 py-2 rounded-md cursor-pointer text-center gap-2 ${className || ""}`}
    >
      <p class="text-white font-semibold text-lg w-max">{title}</p>
      <slot />
    </a>
  )
}
